<div class="row">
    <div class="col-4" *ngFor="let img of imagens">
        <!-- *ngIf="img.drop==false"  -->
        <mat-card class="example-card" [ngClass]="{'disableCard':img.drop==true}">
            <!-- <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>{{img.fileName}}</mat-card-title>
                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            </mat-card-header> -->
            <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
        alt="Photo of a Shiba Inu"> -->
            <!-- <div class="md-unstyled-image"> -->
            <img mat-card-image [src]="img.src">
            <!-- </div> -->
            <mat-card-content class="mat-card-content2">
                <p>Nome arquivo: {{img.fileName}}</p>
                <p>Tipo arquivo: {{img.fileType}}</p>
                <p>Tamanho: {{img.size}}</p>
                <p>Data Cadastro: {{img.dataCadastro |  date:'short'}}</p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button style="width: 45%;" [disabled]="img.drop || !isButtonDownload()">Download</button>
                <button mat-raised-button color="warn" (click)="deleteImagem(img.id)" [disabled]="img.drop || !isButtonApagar()" 
                    style="width: 45%; float:right; position: relative;">Apagar</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>
<br>
<div class="row">
    <div class="col form-group">
        <button mat-raised-button style="float: right" (click)="fechar()">Fechar</button>
    </div>
</div>