<div class="container">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <img class="imgLogin">
      <br>
      <mat-card>
        <mat-card-title class="tituloLogin">{{tituloAplicacao}} <span class="versionRSC">{{versao}}</span>
        </mat-card-title>
        <mat-card-content>
          <form [formGroup]="form" (ngSubmit)="submit()">
            <p>
              <mat-form-field>
                <input type="text" matInput placeholder="Usuario" formControlName="username">
              </mat-form-field>
            </p>

            <p>
              <mat-form-field>
                <input type="password" matInput placeholder="Senha" formControlName="password">
              </mat-form-field>
            </p>

            <p *ngIf="error" class="error">
              {{ error }}
            </p>

            <div class="button">
              <button type="submit" mat-raised-button color="primary" [disabled]="form.invalid">Login</button>
            </div>

          </form>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-2"></div>
  </div>
</div>