<!-- <app-form-title-breadcrumbs title="Precificação Produto"></app-form-title-breadcrumbs> -->
<app-title-page-modal tituloModal="Precificação Produto" [formsDirty]="this.precificacaoForm.dirty"></app-title-page-modal>

<form [formGroup]="precificacaoForm" (ngSubmit)="salvar()">
    <app-tag-filter titulo="Informação do Produto">
        <div class="row">
            <div class="col-2">
                <mat-form-field appearance="outline" class="fullSizeInput" floatLabel="always" formGroupName="produto">
                    <mat-label>Código Produto</mat-label>
                    <input matInput class="inputField" type="text" formControlName="codProduto" readonly>
                    <mat-error>
                        <mat-error-message [control]="getPrecificacaoForm('produto','codProduto')">
                        </mat-error-message>
                        <!-- <mat-error-message [control]="precificacaoForm.controls.produto['controls']['codProduto']">
                        </mat-error-message> -->
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-6">
                <mat-form-field appearance="outline" class="fullSizeInput" floatLabel="always" formGroupName="produto">
                    <mat-label>Produto</mat-label>
                    <input matInput class="inputField" type="text" formControlName="descricao" readonly>
                    <mat-error>
                        <mat-error-message [control]="getPrecificacaoForm('produto','descricao')">
                        </mat-error-message>
                        <!-- <mat-error-message [control]="precificacaoForm.controls.produto['controls']['descricao']">
                        </mat-error-message> -->
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-2">
                <mat-form-field appearance="outline" class="fullSizeInput" floatLabel="always" formGroupName="produto">
                    <mat-label>Unid. Compra</mat-label>
                    <input matInput class="inputField" type="text" formControlName="unidCompra" readonly>
                    <mat-error>
                        <mat-error-message [control]="getPrecificacaoForm('produto','unidCompra')">
                        </mat-error-message>
                        <!-- <mat-error-message [control]="precificacaoForm.controls.produto['controls']['unidCompra']">
                        </mat-error-message> -->
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-2">
                <mat-form-field appearance="outline" class="fullSizeInput" floatLabel="always" formGroupName="produto">
                    <mat-label>Unid. Venda</mat-label>
                    <input matInput class="inputField" type="text" formControlName="unidVenda" readonly>
                    <mat-error>
                        <mat-error-message [control]="getPrecificacaoForm('produto','unidVenda')">
                        </mat-error-message>

                        <!-- <mat-error-message [control]="precificacaoForm.controls.produto['controls']['unidVenda']">
                        </mat-error-message> -->
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
    </app-tag-filter>
    <app-tag-filter titulo="Sugestão de Precificação baseado no histórico de compras e markup">
        <div class="row">
            <div class="col-2">
                <mat-form-field appearance="outline" class="fullSizeInput" floatLabel="always"
                    formGroupName="valorMedioPorProdutoVO">
                    <mat-label>Qtd. Produtos em Nota (A)</mat-label>
                    <input matInput class="inputField" type="text" formControlName="totalQtd" readonly>
                    <mat-error>
                        <mat-error-message [control]="getPrecificacaoForm('valorMedioPorProdutoVO','totalQtd')">
                        </mat-error-message>

<!--                         <mat-error-message
                            [control]="precificacaoForm.controls.valorMedioPorProdutoVO['controls']['totalQtd']">
                        </mat-error-message> -->
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-3">
                <mat-form-field appearance="outline" class="fullSizeInput" floatLabel="always"
                    formGroupName="valorMedioPorProdutoVO">
                    <mat-label>Soma Valor do Produto em Nota (B)</mat-label>
                    <input matInput class="inputField" type="text" formControlName="sumValorTotal" currencyMask
                        [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" readonly>
                    <mat-error>
                        <mat-error-message [control]="getPrecificacaoForm('valorMedioPorProdutoVO','sumValorTotal')">
                        </mat-error-message>

<!--                         <mat-error-message
                            [control]="precificacaoForm.controls.valorMedioPorProdutoVO['controls']['sumValorTotal']">
                        </mat-error-message> -->
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-3">
                <mat-form-field appearance="outline" class="fullSizeInput" floatLabel="always"
                    formGroupName="valorMedioPorProdutoVO">
                    <mat-label>Valor mínimo sugerido (A/B)</mat-label>
                    <input matInput class="inputField" type="text" formControlName="valorMedio" currencyMask
                        [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" readonly>
                    <mat-error>

                        <mat-error-message [control]="getPrecificacaoForm('valorMedioPorProdutoVO','valorMedio')">
                        </mat-error-message>
<!--                         <mat-error-message
                            [control]="precificacaoForm.controls.valorMedioPorProdutoVO['controls']['valorMedio']">
                        </mat-error-message> -->
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-2">
                <mat-form-field appearance="outline" class="fullSizeInput" floatLabel="always"
                    formGroupName="valorMedioPorProdutoVO">
                    <mat-label>Markup</mat-label>
                    <input matInput class="inputField" type="text" formControlName="markupRSC" mask="percent" suffix="%"
                        [dropSpecialCharacters]="false" readonly>
                    <mat-error>
                        <mat-error-message [control]="getPrecificacaoForm('valorMedioPorProdutoVO','markupRSC')">
                        </mat-error-message>
<!--                         <mat-error-message
                            [control]="precificacaoForm.controls.valorMedioPorProdutoVO['controls']['markupRSC']">
                        </mat-error-message> -->
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-2">
                <mat-form-field appearance="outline" class="fullSizeInput" floatLabel="always"
                    formGroupName="valorMedioPorProdutoVO">
                    <mat-label>Valor Sugerido</mat-label>
                    <input matInput class="inputField" type="text" formControlName="valorSugerido" currencyMask
                        [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" readonly> 
                    <mat-error>
                        <mat-error-message [control]="getPrecificacaoForm('valorMedioPorProdutoVO','valorSugerido')">
                        </mat-error-message>
<!--                         <mat-error-message
                            [control]="precificacaoForm.controls.valorMedioPorProdutoVO['controls']['valorSugerido']">
                        </mat-error-message> -->
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
    </app-tag-filter>
    <app-tag-filter titulo="Precificação do Produto para venda">
        <div class="row">
            <div class="col-3">
                <mat-form-field appearance="outline" class="fullSizeInput" floatLabel="always"
                    formGroupName="precificacaoProduto">
                    <mat-label>Markup referência</mat-label>
                    <input matInput class="inputField" type="text" formControlName="markupReferncia" readonly mask="percent" suffix="%"
                    [dropSpecialCharacters]="false">
                    <mat-error>
                        <mat-error-message [control]="getPrecificacaoForm('precificacaoProduto','markupReferncia')">
                        </mat-error-message>
<!--                         <mat-error-message
                            [control]="precificacaoForm.controls.precificacaoProduto['controls']['markupReferncia']">
                        </mat-error-message> -->
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-3">
                <mat-form-field appearance="outline" class="fullSizeInput" floatLabel="always"
                    formGroupName="precificacaoProduto">
                    <mat-label>Valor Médio NF</mat-label>
                    <input matInput class="inputField" type="text" formControlName="valorMedioNF" readonly currencyMask
                    [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }">
                    <mat-error>
                        <mat-error-message [control]="getPrecificacaoForm('precificacaoProduto','valorMedioNF')">
                        </mat-error-message>
<!--                         <mat-error-message
                            [control]="precificacaoForm.controls.precificacaoProduto['controls']['valorMedioNF']">
                        </mat-error-message> -->
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-3">
                <mat-form-field appearance="outline" class="fullSizeInput" floatLabel="always"
                    formGroupName="precificacaoProduto">
                    <mat-label>Valor Produto Sugerido</mat-label>
                    <input matInput class="inputField" type="text" formControlName="valorProdutoSugerido" readonly currencyMask
                    [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }">
                    <mat-error>
                        <mat-error-message [control]="getPrecificacaoForm('precificacaoProduto','valorProdutoSugerido')">
                        </mat-error-message>
<!--                         <mat-error-message
                            [control]="precificacaoForm.controls.precificacaoProduto['controls']['valorProdutoSugerido']">
                        </mat-error-message> -->
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-3">
                <mat-form-field appearance="outline" class="fullSizeInput" floatLabel="always"
                    formGroupName="precificacaoProduto">
                    <mat-label>Valor do Produto</mat-label>
                    <input matInput class="inputField" type="text" formControlName="valorProduto" currencyMask
                        [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" required>
                    <mat-error>
                        <mat-error-message [control]="getPrecificacaoForm('precificacaoProduto','valorProduto')">
                        </mat-error-message>
<!--                         <mat-error-message
                            [control]="precificacaoForm.controls.precificacaoProduto['controls']['valorProduto']">
                        </mat-error-message> -->
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
    </app-tag-filter>
    <div class="row">
        <div class="col">
            <button mat-raised-button type="submit" color="primary" style="float: left;">Salvar</button>
            <button mat-raised-button type="button" style="float:right" (click)="fechar()">Fechar</button>
        </div>
    </div>
</form>