<app-form-title-breadcrumbs></app-form-title-breadcrumbs>

<app-tag-filter titulo="Filtro de Usuários">
    <mat-form-field appearance="outline" floatLabel="always" style="width: 100%;">
        <mat-label>Filtrar</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex.: João">
    </mat-form-field>
</app-tag-filter>

<table mat-table [dataSource]="userList" matSort class="mat-elevation-z8" matSort matSortActive="id"
    matSortDirection="asc" matSortDisableClear style="width: 100%;">
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 5%;" > ID
        </th>
        <td mat-cell *matCellDef="let element" style="width: 5%;"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="nomeCompleto">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 35%;"> Nome Completo </th>
        <td mat-cell *matCellDef="let element" style="width: 35%;"> {{element.nomeCompleto}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 10%;"> User </th>
        <td mat-cell *matCellDef="let element" style="width: 10%;"> {{element.user}} </td>
    </ng-container>

    <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 25%;"> E-mail </th>
        <td mat-cell *matCellDef="let element" style="width: 25%;"> {{element.email}} </td>
    </ng-container>

    <ng-container matColumnDef="situacao">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 20%;"> Situação </th>
        <td mat-cell *matCellDef="let element" style="width: 20%;"> {{element.situacao}} </td>
    </ng-container>

    <ng-container matColumnDef="acoes" stickyEnd>
        <th mat-header-cell *matHeaderCellDef style="width: 5%;"></th>
        <td mat-cell *matCellDef="let element" style="width: 5%;">
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item [disabled]="element.situacao == 'INATIVO'" (click)="addRoleUser(element.id)">
                    <mat-icon> security </mat-icon>
                    <span>ROLES</span>
                </button>
                <button mat-menu-item [disabled]="element.situacao == 'INATIVO'" (click)="disabledUser(element.id)">
                    <mat-icon> block </mat-icon>
                    <span>Desativar Usuário</span>
                </button>
            </mat-menu>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="colunas"></tr>
    <tr mat-row *matRowDef="let row; columns: colunas;"></tr>
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>

<button mat-raised-button color="primary" (click)="addUser()">Incluir Usuário</button>