<app-form-title-breadcrumbs></app-form-title-breadcrumbs>


<div class="row">
    <div class="col-4 form-group">
        <mat-card class="example-card" style="min-height: 10.4em">
            <mat-card-header>
                <div mat-card-avatar>
                    <mat-icon matListIcon style="zoom: 1.5; color: #1d3448">supervisor_account</mat-icon>
                </div>
                <mat-card-title>Usuários</mat-card-title>
                <mat-card-subtitle>Manutenção de usuário</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <div style="display: block; min-height: 6.4em;">
                    Cadastro, desativação de usuários RIGHT SHOT CLUB.<br>
                    Gerenciamento de permissões de acesso as funcionalidades RIGHT SHOT CLUB.
                </div>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button color="primary"  (click)="irParaUsuario()">Ir Usuários</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="col-4 form-group" >
        <mat-card class="example-card" style="min-height: 10.4em">
            <mat-card-header>
                <div mat-card-avatar>
                    <mat-icon matListIcon style="zoom: 1.5; color: #1d3448">security</mat-icon>
                </div>
                <mat-card-title>Roles</mat-card-title>
                <mat-card-subtitle>Manutenção de ROLES</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <div style="display: block; min-height: 6.4em;">
                    Cadastro, desativação de ROLES RIGHT SHOT CLUB.
                </div>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button color="primary"  (click)="irParaRoles()">Ir para ROLES</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="col-4 form-group">
        <mat-card class="example-card" style="min-height: 10.4em">
            <mat-card-header>
                <div mat-card-avatar>
                    <mat-icon matListIcon style="zoom: 1.5; color: #1d3448">home</mat-icon>
                </div>
                <mat-card-title>RIGHT SHOT CLUB</mat-card-title>
                <mat-card-subtitle>Gerenciamento de informações</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <div style="display: block; min-height: 6.4em;">
                    Menutenção de informações da Empresa RIGHT SHOT CLUB, parametrização de envio de e-mail, parametrização de MARKUP e outros.
                </div>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button color="primary"  (click)="irParaInfoRSC()">Ir para Gerenciamento</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>